{% extends "index.html" %}

{% block content %}
<h1 class="mb-4">Давайте сделаем цветовую коррекцию изображения</h1>

<!-- Поля и кнопки-->
<div class="d-flex flex-wrap align-items-center gap-3 w-100 mb-4">
    <form action="/do_color_correction" method="post" class="d-flex flex-wrap align-items-center gap-3">
        <!-- Чекбоксы -->
        <div class="d-flex flex-wrap gap-3 flex-grow-1">
            <label>Выберите свойства для изменения:</label>
            <label>
                <input type="checkbox" name="options" value="grayscale"
                       {% if 'grayscale' in color_correction_options %} checked {% endif %}/> ЧБ
            </label>
            <label>
                <input type="checkbox" name="options" value="brightness"
                       {% if "brightness" in color_correction_options %} checked {% endif %}/> Яркость
            </label>
            <label>
                <input type="checkbox" name="options" value="contrast"
                       {% if "contrast" in color_correction_options %} checked {% endif %}/> Контраст
            </label>
            <label>
                <input type="checkbox" name="options" value="saturation"
                       {% if "saturation" in color_correction_options %} checked {% endif %}/> Насыщенность
            </label>
            <label>
                <input type="checkbox" name="options" value="hue"
                       {% if "hue" in color_correction_options %} checked {% endif %}/> Оттенок
            </label>
            <label>
                <input type="checkbox" name="options" value="inversion"
                       {% if "inversion" in color_correction_options %} checked {% endif %}/> Инверсия
            </label>
        </div>

        <!-- Кнопка "Сгенерировать" -->
        <div class="d-flex">
            <button type="submit" class="btn btn-primary">Сгенерировать</button>
        </div>
    </form>

    <!-- Отдельная форма для кнопки "Сохранить" -->
    <form action="/save_color_correction" method="post">
        <button type="submit" class="btn btn-success">Сохранить</button>
    </form>
</div>

<!-- Изображения -->
<div class="row">
    {% if color_correction_images %}
    {% for img in color_correction_images %}
    <div class="col-md-4 mb-3">
        <div class="card shadow">
            <div class="card-body text-center">
                <h5>Изображение {{loop.index}}</h5>
                <img src="data:{{ img.mime_type }};base64,{{ img.encoded_image }}"
                     alt="Изображение {{ loop.index }}"
                     class="img-fluid mb-2">
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>Введите параметры для цветокоррекции</p>
    {% endif %}
</div>
{% endblock %}
