{% extends "index.html" %}

{% block content %}
<h1 class="mb-4">Давайте сделаем искажение изображения</h1>

<!-- Поля и кнопки-->
<div class="d-flex flex-wrap align-items-center gap-3 w-100 mb-4">
    <form action="/do_distortion" method="post" class="d-flex flex-wrap align-items-center gap-3">

        <!-- Контейнер для метки и списка -->
        <div class="d-flex align-items-center gap-0">
            <label for="options" class="mb-1 w-100">Выберите опцию:</label>
            <select name="option" id="options" class="form-select w-auto">
                <option value="distortion">Деформация</option>
                <option value="blur">Размытие</option>
                <option value="noise">Шум</option>
            </select>
        </div>

        <!-- Кнопка "Сгенерировать" -->
        <button type="submit" class="btn btn-primary">Сгенерировать</button>
    </form>

    <!-- Кнопка "Сохранить" -->
    <form action="/save_distortion" method="post">
        <button type="submit" class="btn btn-success">Сохранить</button>
    </form>
</div>


<div class="row">
    <div class="col-12 mb-3">
        <div class="card shadow w-100">
            <div class="card-body">
                {% if encoded_image %}
                <h5>Ваше изображение:</h5>
                <img src="data:{{ mime_type }};base64,{{ encoded_image }}"
                     alt="Загруженное изображение"
                     class="mb-4 img-fluid">
                {% else %}
                <p>Изображение не загружено</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}